---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        I am bakeery, a Software Developer, Bug Bounty Hunter, and Security Analyst from Nigeria.
        <br />
        My primary skills includes:
      </p>
    <ul class="list-disc list-inside">
      <li>Log Analysis</li>
      <li>Incident Response</li>
      <li>Threat Hunting</li>
      <li>Threat Intelligence</li>
      <li>Digital Forensics</li>
      <li>Malware Analysis</li>
      <li>Detection Engineering</li>
    </ul>
    </div>
    <p class="text-sm font-light">
      Outside my tech career, I’m passionate about cybersecurity news, podcasts, and staying updated on trends. I enjoy traveling, playing football, and staying active. I’m also keen on reading, exploring new technologies, and continually learning. .
    </p>
    <p class="text-sm font-light">
      While I have some preferred tools, I always choose the best one for the
      job, even if it's not on my usual list. My goal is to find the right
      solution to have the work done.
    </p>
  </div>
</Card>
